#
# Requirements for running django-nose testapp
#

# Latest Django
Django

# This project
-e .

# Load database config from environment
django-environ

# Packaging
wheel==0.29.0
twine==1.9.1

# PEP8, PEP257, and static analysis
flake8
flake8-docstrings==1.1.0

# Code coverage
coverage==4.4.1

# Documentation
Sphinx

# Packaging Linters
check-manifest==0.35
pyroma==2.2

# Multi-env test runner
tox==2.7.0

# Better interactive debugging
gnureadline==6.3.3
ipython
ipdb
ipdbplugin==1.4.5
